<div class="tabs tabs-icon-top tab-custom">
    <a ui-sref="list({id:1})" ng-class="active=='reviews' ? 'tab-item footer-active' : 'tab-item footer-color'">
        <i class="icon ion-android-hangout"></i>
    </a>
    <a ui-sref="list({id:3})" ng-class="active=='events' ? 'tab-item footer-active' : 'tab-item footer-color'">
        <i class="icon ion-android-calendar"></i>
    </a>
    <a ui-sref="list({id:2})" ng-class="active=='articles' ? 'tab-item footer-active' : 'tab-item footer-color'">
        <i class="icon ion-android-bookmark"></i>
    </a>
    <a ui-sref="list({id:4})" ng-class="active=='recipes' ? 'tab-item footer-active' : 'tab-item footer-color'">
        <i class="icon ion-android-restaurant"></i>
    </a>
    <a ui-sref="list({id:5})" ng-class="active=='videos' ? 'tab-item footer-active' : 'tab-item footer-color'">
        <i class="icon ion-social-youtube"></i>
    </a>
</div>