<div class="bar bar-header bar-calm primary">
    <button ng-click="$ionicGoBack()" class="button back-button button-clear button-positive">
        <i class="button button-clear icon ion-android-arrow-back"></i>
    </button>
    <div class="backmod">  
        {{title}}
    </div>
    <button class="button button-clear button-positive btn-second btn-no" ui-sref="main">
        <i class="button button-clear icon ion-android-home"></i>
    </button>
    <button ui-sref="more" class="button button-clear button-positive btn-right">
        <i class="button button-clear icon ion-android-more-vertical"></i>
    </button>
</div>
